#banner{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    background-color: rgb(102, 0, 255);
}

#banner h1{
    padding-top: 50px;
    color: white;
    text-transform: capitalize;
}
#banner h5{
    color: white;
    text-transform: capitalize;
}

.paralax{
    /*background-image: url("/img/paralax1.jpg");*/
    min-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#suuhgetsu{
    border-radius: 50%;
    width: 50%;
}
#portifolio{
    padding-bottom: 100px;
    margin-top: 100px;
}

#sobre p{
    margin-top: 20px;
}

.port1{
    width: 450px;
    text-align: center;
}
.port2{
    width: 450px;
    text-align: center;
}