/*CLASSES*/
.port1{
    width: 400px;
    text-align: center;
}
.port2{
    width: 400px;
    text-align: center;
}
.port3{
    width: 400px;
    text-align: center;
}
.paralax{
    /*background-image: url("/img/paralax1.jpg");*/
    min-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}


/*IDs*/

#banner{
    width: 100%;
    height: 100vh;
    margin-top: 95px;
    background-color: rgb(102, 0, 255);
}

#banner h1{
    padding-top: 15px;
    color: white;
    text-transform: capitalize;
}
#banner h5{
    color: white;
    text-transform: capitalize;
}
#suuhLogo{
    width: 70px;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
}



#suuhgetsu{
    border-radius: 50%;
    width: 50%;
}
#portifolio{
    padding-bottom: 180px;
    padding-top: 300px;
}

#sobre p{
    margin-top: 20px;
}


@media screen and (max-width: 580px) and (min-width: 300px){

    #banner{
        width: 100%;
        height: 100vh;
        margin-top: 90px;
        background-color: rgb(102, 0, 255);
    }

    #banner iframe{
        height: 380px;
    }
    .port1{
        width: 100%;
        text-align: center;
    }
    .port2{
        width: 100%;
        text-align: center;
    }
    .port3{
        width: 100%;
        text-align: center;
    }
  }